@import "../../../styles/typography";
@import "../../../styles/colors";

.container-hero {
  width: 100%;
  min-height: 700px;
  height: auto;
  position: relative;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.2) 30%
  );
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.container-hero img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.hero-navbar-container {
  margin-top: 20px;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  align-items: center;

  &__hero-title {
    font-size: 35px;
    font-weight: 400;
  }

  &__items {
    list-style: none;
    display: flex;
    font-size: 18px;
    font-weight: 100;
    align-items: center;
    margin-top: 20px;
  }

  &__item {
    text-transform: capitalize;
    padding-right: 10px;
    cursor: pointer;
    transition: all 0.2s;
  }

  &__item:hover {
    filter: brightness(80%);
  }

  .fa-bars {
    font-size: 32px;
  }

  @media (max-width: 768px) {
    &__items {
      display: none;
    }
  }

  @media (min-width: 768px) {
    &__mobile {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .hero-navbar-container {
    padding: 20px;
  }
}

.fa-search {
  font-size: 30px;
  margin-left: 30px;
}

.information-container {
  margin-top: 20px;
  width: 100%;
  color: #fff;

  &__text-container {
    padding: 25px;
    background: rgba(0, 0, 0, 0.3);
    width: 500px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 100;
  }

  &__text-title {
    font-size: 16px;
    font-weight: 100;
  }

  &__text-character {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__text-description {
    font-size: 18px;
    font-weight: 100;
  }

  &__text-subtitle {
    display: flex;
    font-size: 18px;
    margin-top: 15px;
  }

  &__font {
    font-size: 24px;
  }

  &__more-info {
    font-size: 20px;
    margin-left: 5px;
  }

  &__question {
    font-size: 26px;
    font-weight: 500;
    margin-top: 15px;
    text-transform: capitalize;
  }

  &__buttons {
    width: 500px;
    display: flex;
  }

  &__like {
    background: $blue-color;
    transition: all 2s;
  }

  &__like:hover {
    background: #fff;
    color: $blue-color;
  }

  &__dislike {
    transition: all 0.5s;
    background: $golden-color;
  }

  &__dislike:hover {
    background: #fff;
    color: $golden-color;
  }

  &__button {
    height: 100%;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    // transition: all .2s;
  }

  // &__button:hover {
  //   filter: brightness(95%);
  // }

  @media (max-width: 768px) {
    &__text-container {
      width: 100%;
    }

    &__buttons {
      width: 100%;
    }
  }
}
