<div class="container-hero">
  <img src="https://wallpaperaccess.com/full/1831586.jpg" alt="" />

  <div class="hero-navbar-container container">
    <div class="hero-navbar-container__hero-title">Rule of thumb.</div>
    <ul class="hero-navbar-container__items">
      <li class="hero-navbar-container__item">past trials</li>
      <li class="hero-navbar-container__item">how it works</li>
      <li class="hero-navbar-container__item">login / sign up</li>
      <li class="hero-navbar-container__item">
        <i class="fas fa-search"></i>
      </li>
    </ul>
    
    <div class="hero-navbar-container__mobile">
      <i class="fas fa-bars"></i>
    </div>
  </div>


  <div class="information-container container">
    <div class="information-container__text-container">
      <div class="information-container__text-title">
        What's your opinion on
      </div>

      <div class="information-container__text-character">{{ characterSetup?.name }}?</div>

      <div class="information-container__text-description">
        {{ characterSetup.history }}
      </div>

      <div class="information-container__text-subtitle">
        <span class="information-container__font">
          <i class="fab fa-wikipedia-w"></i>
        </span>
        <span class="information-container__more-info"> More Information </span>
      </div>

      <div class="information-container__question">what-s your veredict?</div>
    </div>

    <div class="information-container__buttons">
      <div class="information-container__button information-container__like">
        <i class="fas fa-thumbs-up"></i>
      </div>

      <div class="information-container__button information-container__dislike">
        <i class="fas fa-thumbs-down"></i>
      </div>
    </div>
  </div>
</div>
